*::-webkit-scrollbar {
	width: 0; 
}

body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #ffffff;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  display: flex;
  justify-content: flex-start;
}

.page-header a {
  margin-top: 20px;
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.page-header .logo {
  margin: 0px;
  padding: 0px;
}

.header-menu:hover {
  text-decoration: underline;
}

.hero-image {
  margin-bottom: 100px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.7038165608040091) 0%, rgba(255,255,255,0.2976540958180147) 50%, rgba(255,255,255,0) 70%);  
  background-position: center;
  border-radius: 25%;
  position: relative;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  color: #020406;
  line-height: 96px;
  font-weight: 400;
}

.title{
  color: #020406;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
}

.hero-image img {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.intro .container {
  max-width: 1408px;
}

.greetings h3{
  text-align: center;
}

.greetings .skills {
  display: flex;
  flex-direction: row;
}

.container .courses {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.courses .logos,
.courses .ages {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.logos #logo_kids {
  padding-top: 15px;
}

.courses_logo {
  max-width: 400px;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-direction: column;
  padding: 0px;
}

.collapsible {
  background-color: #777777;
  border-radius: 10px;
  padding: 0px;
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:hover {
  border-radius: 10px;
}

.active {
  border-radius: 10px 10px 0px 0px;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2212";
  border-radius: 15px 15px 5px 5px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/*-------------------------------------------*/

li.first-theme {
  background-color: rgb(255, 2, 2);
  color: white;
  width: 470px;
}

.active.first-theme, .first-theme:hover {
  background-color: rgb(187, 57, 57);
}

div.first-text {
  width: 434px;
}

li.second-theme {
  background-color: rgb(255, 145, 2);
  color: white;
  width: 500px;
}

.active.second-theme, .second-theme:hover {
  background-color: rgb(187, 141, 57);
}

div.second-text {
  width: 464px;
}

li.third-theme {
  background-color: rgb(201, 223, 5);
  color: white;
  width: 530px;
}

.active.third-theme, .third-theme:hover {
  background-color: rgb(187, 185, 57);
}

div.third-text {
  width: 494px;
}

li.fourth-theme {
  background-color: rgb(124, 255, 2);
  color: white;
  width: 560px;
}

.active.fourth-theme, .fourth-theme:hover {
  background-color: rgb(131, 187, 57);
}

div.fourth-text {
  width: 524px;
}

li.fifth-theme {
  background-color: rgb(2, 255, 242);
  color: white;
  width: 590px;
}

.active.fifth-theme, .fifth-theme:hover {
  background-color: rgb(57, 187, 187);
}

div.fifth-text {
  width: 554px;
}

li.sixth-theme {
  background-color: rgb(2, 103, 255);
  color: white;
  width: 620px;
}

.active.sixth-theme, .sixth-theme:hover {
  background-color: rgb(57, 70, 187);
}

div.sixth-text {
  width: 584px;
}
/*---------------------------------------------*/

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

/*---------------------------------------------*/
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  padding: 10px;
} 
 
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: none;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h1 {
  font-size: x-large;
}

.flip-card-back p {
  font-size: small;
  line-height: 125%;
}

div.adobe_app_ill {
  background-color: #f37021;
}

div.free_app_gimp {
  background-color: #625c49;
}

div.free_app_is {
  background-color: black;
}

.adobe_app, .free_app {
  display: flex;
  justify-content: flex-start;
}
/*---------------------------------------------*/

#attention {
  font-style: italic;
  text-align: center;
}

.ages h2 {
  text-align: center;
  margin: 5px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3,
.courses h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p,
.courses p {
  margin: 0 0 32px;
}

.blank {
  display: flex;
  justify-content: space-around;
}

.blank h3 {
  margin-bottom: 5px;;
  margin-left: 20px;
}

.blank .textdata {
  width: 200px;
  height: 30px;
  margin-left: 20px;
}

.blank fieldset {
  width: 400px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
} 



.button_lang .pl,
.button_lang .ru{
  width: 40px;
  border: none;
  color: #f1f1f1;
}

button {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border-color: #ffffff;
  background-color: #288be6;
}

button a {
  color: #ffffff;
  text-decoration: none;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

fieldset textarea {
  width: 300px;
  height: 100px;
  margin-left: 20px;
}

.radio {
  margin-left: 20px;
}

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;  
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}